.game {
  flex: 1;
  width: 100%;
  background-color: #303131;
  color: whitesmoke;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  &__player-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 2px solid blue;
    padding: 1rem 1.5rem;
  }

  &__exit-game {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 2px solid blue;
    padding: 1rem 1.5rem;
  }

  &__board {
    display: grid;
    gap: 1.5rem;
    width: fit-content;
    margin: 3rem auto 0;

    &--16 {
      grid-template-columns: repeat(4, 1fr);
    }

    &--24 {
      grid-template-columns: repeat(6, 1fr);
    }

    &--36 {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__card {
    width: 120px;
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: pointer;
  }

  &__card-cover {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    position: absolute;
  }

  &__card-image {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    position: absolute;
  }

  &__isFlipped {
    transform: rotateY(180deg);
  }
}
