.home {
  flex: 1;
  width: 100%;
  background-color: #2f3131;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    font-family: "Almarai";
    font-size: clamp(2.25rem, 5vw, 3rem);
    font-weight: 400;
    align-self: flex-start;
  }

  &__title {
    font-family: "RedRose";
    font-size: clamp(4rem, 8vw, 10rem);
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__play-button {
    background-color: #e4dc41;
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 2rem);
    color: #2f3131;
    padding: clamp(0.5rem, 2vw, 1rem);
    cursor: pointer;
    transition: transform 250ms ease-in-out;

    &:hover {
      transform: scale(1.08);

      .home__play-icon {
        transform: rotate(-30deg) scale(1.25);
      }

      .home__play-arrow {
        transform: scale(1.5);
      }
    }
  }

  &__play-icon {
    height: clamp(28px, 5vw, 35px);
    transition: transform 250ms ease-in-out;
  }

  &__play-text {
    font-family: "RedRose";
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 700;
  }

  &__play-arrow {
    width: 40px;
    transition: transform 250ms ease-in-out;
  }

  &__background-image {
    position: absolute;
    bottom: 0;
    left: 0%;
    overflow: hidden;
  }
}
