@use "./styles/home";
@use "./styles/settings";
@use "./styles/game";
@use "./styles/gameover";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Almarai";
  src: url("assets/fonts/Almarai-Regular.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: "RedRose";
  src: url("assets/fonts/RedRose-Variable.ttf");
  font-weight: 100 900;
}

body {
  max-width: 1920px;
  background-color: #000000;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}

header,
footer {
  height: 80px;
}
